# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# 固件文件
# firmware/*.bin
# firmware/*.elf
!firmware/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# ESP工具日志文件
esptool_log_*.txt
monitor_log_*.txt

# 日志目录（包含所有日志和操作历史）
logs/
*.csv
diagnose*.txt

firmware/
sn_config.json
local_data/
all_sn_logs.json
